body {
    width: 100%;
    height: 100%;
}

.email-app-container a {
    text-decoration: none;
    color: black;
}

button {
    background-color: transparent;
}

.email-app-container {
    width: 100%;
    height: 100%;
}

.email-actions-toolbar {
    margin-top: 10px;
    align-items: center;
}

.email-actions-toolbar a {
    width: 80px;
    font-size: 15px;
    padding: 8px;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 1px 1px 2px 0 black;
    margin-left: 5px;
}

.search-tab input[type=search] {
    border: none;
    border-bottom: 1px solid transparent;
    background: transparent;
    padding: 10px;
    margin-right: calc(100% - 50vw);
}

.search-tab input[type=search]:focus {
    border-bottom: 1px solid black;
}

.search-checkbox {
    align-items: center;
    height: 26px;
}

.search-checkbox label {
    cursor: pointer;
}

.search-checkbox input[type="checkbox"] {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.mobile-email-filter-button {
    display: none;
}

.upper-control {
    align-items: center;
}

.compose-email-btn {
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    width: 150px;
    text-align: center;
    box-shadow: 1px 1px 2px 0 black;
    margin-left: 5px;
}

.gradient-color {
    margin-right: 5px;
    background: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.filter-sort-container {
    height: auto;
    margin: 10px 10px 10px 0;
}

.email-list {
    width: 100%;
    height: auto;
}

.email-link {
    width: 100%;
}

.tab {
    width: 100%
}

.tab [type=radio] {
    display: none;
}

.email-filter {
    margin-top: 10px;
    height: 300px;
    width: 200px;
    text-align: center;
}

.email-filter .fas {
    margin: 10px 10px 10px 20px;
}

.email-filter .tab input[type=radio]:checked~label {
    background: rgba(128, 128, 128, 0.5);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.email-sort .tab input[type=radio]:checked~label {
    background: rgba(128, 128, 128, 0.5);
    border-radius: 25px;
}

.delete-all {
    border: transparent;
    cursor: pointer;
}

.email-filter .tab {
    height: 55px;
    align-items: center;
}

.email-filter .tab label {
    height: 30px;
    padding: 10px;
    margin: 0;
    align-items: center;
    width: 100%;
}

.unread {
    font-weight: bold;
}

.first-letter, .email-preview-sentAt {
    font-weight: normal;
}

.read {
    font-weight: none;
    border-radius: 10px;
}

.email-preview {
    height: 100%;
    width: 100%;
}

.email-preview-letter {
    position: absolute;
    height: 50px;
    width: 50px;
    align-self: center;
    border-radius: 50%;
    margin-left: 10px;
    font-weight: none;
}

.email-preview-letter label {
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.email-preview-container {
    /* padding: 20px; */
    height: 86px;
    text-align: left;
    align-items: center;
}

.email-link {
    height: 100%;
    align-items: center;
}

.email-preview-sentAt {
    /* align-self: center; */
    font-size: 13px;
    width: 150px;
    margin: 10px 15px 0 0;
}

.email-preview-sender {
    font-size: 15px;
    margin-bottom: 15px;
}

.text-container {
    height: 100%;
    width: 100%;
    margin-left: 70px;
}

.email-preview-container:hover .button-container {
    display: flex;
}

.button-container {
    display: none;
    width: 150px;
}

.email-preview-container:hover .email-preview-sentAt {
    display: none;
}

.preview-btn {
    display: flex;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.tab label {
    transition: all .3s;
    background: transparent;
    padding: 10px 20px;
    margin: 10px;
}

.tab label:hover {
    cursor: pointer;
    color: #52a3c5;
}

.email-preview-letter-checkbox {
    display: none;
}

@media (max-width: 750px) {
    .email-search {
        padding: 10px;
        z-index: 3;
    }
    .email-actions-toolbar {
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: white;
        padding-top: 10px;
    }
    .upper-control {
        position: sticky;
        top: 60px;
        background-color: white;
        z-index: 3;
    }
    .mobile-email-filter-button {
        display: block;
        position: sticky;
        left: 20px;
        cursor: pointer;
        z-index: 5;
        /* transform: translate(210px, 0); 
        transition: transform .8s; */
    }
    .email-preview-container:hover .button-container {
        display: none;
    }
    .email-preview-container:hover .email-preview-sentAt {
        display: flex;
    }
    body.show .mobile-email-filter-button {
        left: 10px;
        transform: translate(200px, 0);
        transition: transform .8s;
    }
    .mobile-email-filter-button .bar1, .mobile-email-filter-button .bar2, .mobile-email-filter-button .bar3 {
        width: 20px;
        height: 3px;
        background-color: black;
        margin: 4px 0;
        transition: 0.4s;
    }
    .change-filter .bar1 {
        transform: rotate(-45deg) translate(-2px, 1px);
    }
    .change-filter .bar2 {
        opacity: 0;
    }
    .change-filter .bar3 {
        transform: rotate(45deg) translate(-9px, -8px);
    }
    .email-filter {
        z-index: 50;
        position: fixed;
        justify-content: initial;
        left: 0;
        top: 70px;
        background-color: rgb(255, 255, 255);
        height: 100vh;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        transform: translate(-100%, 0);
        transition: transform .8s;
    }
    .email-filter a {
        padding: 30px;
    }

    body.show {
        overflow-y: hidden;
    }

    body.show .email-filter {
        transform: translate(0, 0);
    }
    .compose-email-btn {
        position: fixed;
        z-index: 30;
        bottom: 10px;
        right: 10px;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 0;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: white;
    }
    .compose-email-txt {
        display: none;
    }
}