* {
    box-sizing: border-box;
}

.keep-app {
    padding: 30px;
}

.search-notes {
    position: relative;
    max-width: 600px;
    margin: 0 auto 30px;
}

.search-notes hr {
    margin: 0;
}

.search-res {
    height: 200px;
    overflow-y: scroll;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    border: 1px solid rgb(185, 185, 185);
}

.search-item {
    padding: 8px;
    background-color: #fff;
    border: 1px solid rgb(185, 185, 185);
}

.search-item:hover {
    background-color: rgb(15, 42, 100);
    color: white;
    cursor: pointer;
}

.search-input {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
}

.search-input>* {
    font-size: 1.3em;
    margin-right: 5px;
}

.add-note {
    display: flex;
    flex-direction: column;
    margin: 0 auto 30px;
    padding: 10px;
    max-width: 600px;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 10px;
    box-shadow: 0 0 2px gray, 2px 2px 2px rgb(197, 197, 197)
}

.add-note input {
    display: block;
}

.add-controls {
    display: grid;
    grid-template-columns: repeat(6, 30px) 1fr 30px;
}

.add-controls>:last-child {
    grid-column: 8;
}

input {
    border: none;
    background-color: inherit;
    color: inherit;
    padding: 5px;
}

input::placeholder {
    color: inherit;
    opacity: 0.6;
}

*:focus {
    outline: none;
}

.note-txt {
    display: inline-block;
    margin-bottom: 15px;
    padding: 7px;
}

.list-header {
    margin-bottom: 20px;
    font-size: 1.3em;
}

.keep-note {
    border: 1px solid rgb(196, 196, 196);
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 1.2s
}

.keep-note.flash {
    transition: none;
    background-color: gold !important;
}


.keep-note .pin-note, .note-header .edit-header, .todo .delete-todo-btn{
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.keep-note:hover .pin-note, .note-header:hover .edit-header, .todo:hover .delete-todo-btn {
    opacity: 1;
    pointer-events: all;
}

.keep-note:hover {
    box-shadow: 0 0 3px gray;
}

.icon-btn {
    background-color: #00000000;
    border: none;
    color: inherit;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0;
}

.todo {
    display: inline-block;
    /* justify-content: space-between; */
}

.todo-txt {
    padding: 7px;
    cursor: pointer;
}

.note-img-preview {
    max-width: 100px;
    max-height: 100px;
}

.note-header {
    color: inherit;
    background-color: inherit;
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    padding: 7px;
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 30px;
}

.note-header::placeholder {
    color: inherit;
    opacity: 0.5;
}

.editable {
    border: 1px solid rgba(0, 0, 0, 0);
}

.editable_active {
    animation: editable infinite 1s;
}

.note-img {
    margin: 10px;
    max-width: 180px;
}

.note-controls {
    height: 30px;
}

.todoDone {
    text-decoration: line-through;
}

.white_txt {
    color: rgb(233, 233, 233);
}

.empty::before {
    opacity: 0.5;
}

.empty[data-type="todos"]::before {
    content: 'Add To-Do';
}

.empty[data-type="txt"]::before {
    content: 'Text Note';
}

.empty[data-type="img"]::before {
    content: 'Type Image URL Or Upload File';
}

.empty[data-type="vid"]::before {
    content: 'Type Video URL';
}

@font-face {
    font-family: permanent-marker;
    src: url('../fonts/Permanent_Marker/PermanentMarker-Regular.ttf')
}

@keyframes editable {
    0% {border: 1px solid lightblue;}
    50% {border: 1px solid lightblue;}
    51% {border: 1px solid rgba(0, 0, 0, 0);}
    100% {border: 1px solid rgba(0, 0, 0, 0);}
}