* {
    box-sizing: border-box;
}

.keep-app {
    padding: 30px;
    height: 90vh;
}

.note-list {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    height: 100%;
}

.keep-note {
    width: 200px;
    background-color: yellow;
    border: 1px solid black;
    margin: 15px;
}

.keep-note .note-header {
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
}

.editable {
    border: 1px solid lightblue;
}

.note-img {
    margin: 10px;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.todoDone {
    text-decoration: line-through;
}